<ion-content class="qr-generator-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Generate QR Code</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Enter URL:</ion-label>
        <ion-input [(ngModel)]="qrData" type="url" placeholder="https://example.com"></ion-input>
      </ion-item>

      <ion-item *ngIf="qrError">
        <ion-label color="danger" position="stacked">{{ qrError }}</ion-label>
      </ion-item>

      <ion-button expandBlock expand="block" fill="outline" (click)="generateQR()">Generate</ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="qrLoaded">
    <ion-card class="qr-generator-container">
      <qrcode [qrdata]="qrData" [allowEmptyString]="true" [ariaLabel]="'QR Code image with the following content...'"
        [cssClass]="'center'" [colorDark]="'#000000ff'" [colorLight]="'#ffffffff'" [elementType]="'canvas'"
        [errorCorrectionLevel]="'M'" [margin]="4" [scale]="1" [title]="'A custom title attribute'" [width]="300">
      </qrcode>
    </ion-card>
  </div>
</ion-content>
